# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/
storybook-static

# IDE
.vscode/*
!.vscode/extensions.json
.idea

package-lock.json
pnpm-lock.yaml
bun.lockb
bun.lock
dist
build
yarn.lock
yarn-error.log
.yarnrc.yml
.yarn
test*